.first {
    background: #FFF4F2;  
}

.header {
    position: absolute;
    top: 45%;
}

.border-top {
    margin-left: 100px;      
    width: 330px;
}

p.how{
    width: 115px;
    margin-left: 37%;
    padding-left: 0px;
}

p.howhow{
    width: 108px;
    margin-left: 37%;
    padding-left: 0px;
}
