#header {
    background: #F1DEDD;
}

.name {
    margin-bottom: 0px;
}

p {
    font-family: Open-sans, sans-serif;
    font-size: 14px;
    width: 200px;
    white-space: pre-line;
    float: right;
    padding-left: 30px;
}

.mr-auto {
    margin-left: 100px;
}

.icon {
    margin-left: 45px;
}

.data {
    width: 150px;
}